<h1>Editing second demo</h1>

<%= render "form", second_demo: @second_demo %>

<br>

<div>
  <%= link_to "Show this second demo", @second_demo %> |
  <%= link_to "Back to second demos", second_demos_path %>
</div>
